/* martian-mono-regular - latin */ 
@font-face {
	font-display: swap;
	font-family: 'Martian Mono';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/martian-mono/martian-mono-v6-latin-regular.woff2') format('woff2'),
		 url('../fonts/martian-mono/martian-mono-v6-latin-regular.ttf') format('truetype'),
}

/* martian-mono-600 - latin */
@font-face {
	font-display: swap;
	font-family: 'Martian Mono';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/martian-mono/martian-mono-v6-latin-600.woff2') format('woff2'),
		 url('../fonts/martian-mono/martian-mono-v6-latin-600.ttf') format('truetype');
}

/* martian-mono-700 - latin */
@font-face {
  	font-display: swap;
	font-family: 'Martian Mono';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/martian-mono/martian-mono-v6-latin-700.woff2') format('woff2'),
		 url('../fonts/martian-mono/martian-mono-v6-latin-700.ttf') format('truetype');
}

/* inter-regular - latin */
@font-face {
	font-display: swap;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/inter/inter-v20-latin-regular.woff2') format('woff2'),
		 url('../fonts/inter/inter-v20-latin-regular.ttf') format('truetype');
}

/* inter-600 - latin */
@font-face {
	font-display: swap;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/inter/inter-v20-latin-600.woff2') format('woff2'),
		 url('../fonts/inter/inter-v20-latin-600.ttf') format('truetype');
}

@import "tailwindcss";

@theme {
	/* Fonts */
	--font-inter:   Inter;
	--font-martian: Martian Mono;
	
	/* Colors */
	--color-neutral-0:   #FFFFFF;
	--color-neutral-100: #FAF5F3;
	--color-neutral-200: #E6E1DF;
	--color-neutral-700: #385159;
	--color-neutral-900: #062630;
	--color-light-salmon-50:  #FFF5EF;
	--color-light-salmon-100: #FFE2D1;
	--color-light-salmon-500: #FEA36F;

	/* Radius */
	--radius-xl:  0.625rem; /* (10px) */
	--radius-2xl: 0.75rem;  /* (12px) */
	--radius-3xl: 1rem;     /* (16px) */
	--radius-4xl: 1.25rem;  /* (20px) */
	--radius-5xl: 1.5rem;   /* (24px) */

	/* Letter Spacing */
	--tracking-tight:  -0.03125rem; /* (-0.5px) */
	--tracking-tighter: -0.0625rem; /* (-1px) */
	--tracking-tightest: -0.125rem; /* (-2px) */
}
