/* martian-mono-regular - latin */ 
@font-face {
  font-display: swap;
  font-family: 'Martian Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/martian-mono/martian-mono-v6-latin-regular.woff2') format('woff2'),
       url('../fonts/martian-mono/martian-mono-v6-latin-regular.ttf') format('truetype'),
}

/* martian-mono-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Martian Mono';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/martian-mono/martian-mono-v6-latin-600.woff2') format('woff2'),
       url('../fonts/martian-mono/martian-mono-v6-latin-600.ttf') format('truetype');
}

/* martian-mono-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Martian Mono';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/martian-mono/martian-mono-v6-latin-700.woff2') format('woff2'),
       url('../fonts/martian-mono/martian-mono-v6-latin-700.ttf') format('truetype');
}

/* inter-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter/inter-v20-latin-regular.woff2') format('woff2'),
       url('../fonts/inter/inter-v20-latin-regular.ttf') format('truetype');
}

/* inter-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/inter/inter-v20-latin-600.woff2') format('woff2'),
       url('../fonts/inter/inter-v20-latin-600.ttf') format('truetype');
}

@import "tailwindcss";


@theme {
    --font-inter:   Inter;
    --font-martian: Martian Mono;
}